*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato";
}

@font-face{
  font-family: "lato";
  src: url(lato/Lato-Regular.ttf);
}

body{
background: #273542;
}

a{
  text-decoration: none;
  color: #F0F3F5;
}

/* Menu du site */

/*Masquer le menu desktop*/
.menu{
  width: 100%;
  height: 100px;
  background-color: #273542;
  display: none;
  border-bottom: 2px solid #F0F3F5;
  box-shadow: 0 0 7px 1px #6C87A1;
  position: fixed;
  margin-top: -50px;
}

#menuToggle{
  width: 100%;
  display: block;
  position: relative;
  top: 15px;
  left: 15px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a{
  text-decoration: none;
  color: #6C87A1;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #6C87A1;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #F0F3F5;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #273542;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 90px 150px 25px 50px;
  background: #F0F3F5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  border-bottom-right-radius: 4px;
  border-bottom: 4px solid #273542;
  box-shadow: 0px 0px 5px 1px #F0F3F5;

}

#menu li{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul{
  transform: none;
}
/* Fin du menu */

/* Footer du site*/

.footer{
  margin-top: 100px;
  width: 100%;
  height: auto;
  background-color: #7c8bb1;
  padding: 20px;
}

.footer_plan{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 2px solid #F0F3F5;
  background: #7c8bb1;
}

.plan_titre{
  color: #F0F3F5;
  font-size: 18px;
}

.plan_liste li{
  transition: .3s;
  list-style-type: none;
  width: 175px;
  font-size: 14px;
  margin-top: 10px;
}

.plan_liste li:hover{
  transition: .3s;
  text-shadow: 0px 0px 7px#F0F3F5;
}

.footer_infos{
  width: 100%;
  margin-top: 25px;
  background: #7c8bb1;
  height: auto;
}

.infos_liste li{
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: none;
  text-align: center;
  color: #F0F3F5;
  font-size: 16px;
}
.infos_liste{  
  background: #7c8bb1;
}

/*Formulaire d'inscription*/

.formulaire_inscription, .formulaire_connexion{
  width: 90%;
  height: auto;
  margin: 25px auto 0 auto;
  background-color: #F0F3F5;
  border-radius: 12px;
  color: #F0F3F5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulaire_logo{
  height: 100px;
}

.formulaire_logo > img{
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 1px #6C87A1;
}

.titre_formulaire{
  text-align: center;
  width: 250px;
  margin: auto;
}

.formulaire_titre{
  color: #273542;
}

.formulaire_logo{
  margin-top: 15px;
  margin-bottom: 15px;
}

label{
  margin-top: 5px;
  color: #6C87A1;
  font-weight: bold;
}

#label{
  font-size: 14px;
}

#mot_de_passe, #mot_de_passe_conf, #email, #nom, #prenom, #titre, #description, .formulaire_entree{
  margin-top: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 250px;
  padding: 8px 12px;
  border-bottom: 1px solid #6C87A1;
  box-shadow: 1px 1px 8px #6C87A1;
}

.formulaire_bouton{
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 12px 16px;
  border: none;
  font-size: 14px;
  border-radius: 6px;
  background-color: #273542;
  color: #F0F3F5;
  box-shadow: 1px 1px 8px #F0F3F5;
}

option{
  background-color: #F0F3F5;
  color: #273542;
  font-size: 15px;
}

select{
  color: #273542;
  padding: 8px 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #273542;
  background-color: #F0F3F5;
  font-size: 15px;
}

#formulaire_alerte{
  color: #7c8bb1;
}

.custom-select{
  width: 200px;
}

/*Création de projet*/
h1{
    margin: 15px 0 15px 0;
    text-align: center;
    color: #F0F3F5;
    font-size: 20px;
    font-weight: bold;
}
.creer_container{
    width: 100%;
    height: auto;
    background-color: #273542;
    padding: 15px 0;
}

.formulaire_projet{
    width: 90%;
    background-color: #F0F3F5;
    box-shadow: 0px 0px 3px 1px #F0F3F5;
    padding: 5px;
    margin: 25px auto 15px auto;
    border-radius: 4px;
}

.form_head{
    color: #F0F3F5;
    margin: 0px 0 8px 0;
    background-color: #273542;
    padding: 7px 3px;
    line-height: 24px;
    border-radius: 4px;
}

textarea{
    margin-left: 10%;
    min-width: 80%;
    max-width: 80%;
    min-height: 200px;
    max-height: 400px;
}

.ajout_competence{
    height: auto;
    width: 80%;
    margin:  15px auto 15px auto;
    display: flex;
    justify-content: space-between;
}

.formulaire_titre_projet{
  margin-left: 10%;
}
.competence_container{
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.competence_gauche{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  background-color: #F0F3F5;
}

.competence_droite{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  background-color: #F0F3F5;
}

#titre, #description{
  margin-top: 10px;
  border: none;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 200px;
  padding: 8px 12px;
  border-bottom: 1px solid #6C87A1;
  box-shadow: 1px 1px 8px #6C87A1;
}

.form_check{
  width: 80%;
  margin-left: 10%;
}

.checkbox{
  margin: 10px 5px;
}

.checkbox_label{
  color: #6C87A1;
  font-size: 17px;
  padding-left: 3px;
  font-weight: normal;
}

.form_titre_competence{
  color: #6C87A1;
  font-weight: bold;
  text-align: center;
  margin: 15px 0 15px 0;
}

.form_submit{
  width: 50%;
  margin: 15px 25% 15px 25%;
}

.competence_logo{
  width: 92px;
}

/* Espace membre*/

.profil_couverture{
  width: 100%;
  height: 200px;
  background-color: #F0F3F5;
}

.container_profil{
      width: 100%;
  height: auto;
  margin: 0px auto 15px auto;
  padding: 15px 0px;
  justify-content: space-evenly;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #F0F3F5;
}

.profil{
  width: 90%;
  height: auto;
  margin: 8px auto;
  background-color: #F0F3F5;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px #7c8bb1;
  padding-bottom: 18px;
}

.profil_image{
  width: 95%;
  margin: auto;
  border-bottom: 3px solid #F0F3F5;
  background-color: #273542;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.md_photo_titre{
  color: #273542;
  font-size: 12px;
  font-weight: bold;
}

.selection_photo{
  padding: 12px;
}

.ajout_photo{
  background-color: #6C87A1;
  border: none;
  padding: 10px;
  color: #F0F3F5;
}

.ajout_photo:hover{
cursor: pointer;
}

.profil_images{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #F0F3F5;
}

.profil_upload{
  background-color: #F0F3F5;
  width:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
}

.profil_nom{
  margin-left: 10px;
  text-transform: uppercase;
  color: #F0F3F5;
  font-size: 18px;
  font-weight: bold;
}

.profil_prenom{
  text-transform: uppercase;
  color: #F0F3F5;    
  font-size: 18px;
  font-weight: bold;
}

.profil_description{
  width: 75%;
  margin: 10px auto;
  background-color: #273542;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: auto;
  box-shadow: 0px 0px 5px 1px #6C87A1;
  color: #6C87A1;
  font-size: 12px;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
 text-align: center;
  line-height: 25px;
}
.modifier_mdp{
  background-color: #273542;
  padding: 10px;
  border-radius: 10px;
}

.md_profil{
  font-weight: normal;
}

.profil_competence-p{
  width: 70%;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #273542;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
  border: 2px solid #F0F3F5;
  padding: 10px;
  text-align: center;
}

.description_texte{
  color: #F0F3F5;
  padding: 15px;
}

.profil_informations{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 15px auto 8px auto;
  font-size: 18px;
  color: #6C87A1;
  line-height: 20px;
}

.supprimer{
  background-color: #6C87A1;
  border: 1px solid #F0F3F5;
  color: #F0F3F5;
  padding: 5px;
  font-size: 12px;
}

.supprimer:hover{
  cursor: pointer;
}

.modifier_projet{
  background-color: #6C87A1;
  border: 1px solid #F0F3F5;
  color: #F0F3F5;
  padding: 5px;
  font-size: 12px;
}

.modifier_profil_bouton{
  margin-top: 15px;
}

.modifier_projet:hover{
  cursor: pointer;
}

.profil_idee_titre{
  width: 80%;
  line-height: 30px;
  margin: 15px auto 15px auto;
font-size: 18px;
}
/*Modifier son profil*/

.formulaire_modification_profil{
  display: flex;
  align-items: center;
  flex-direction: column;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px; 
  right: 10%;
  z-index: 99;
  border: none;
  outline: none; 
  background-color: #7c8bb1; 
  color: white; 
  cursor: pointer; 
  padding: 7px 12px 2px 12px; 
  border-radius: 4px;
  font-size: 25px;
  box-shadow: 0px 0px 3px 1px #F0F3F5;
}

#myBtn:hover {
  background-color: #283643;
}

.md_titre{
  color: #6C87A1;
  margin: 0px 0 5px 0;
}

/* Liste des projets*/

.liste_projet{
  width: 100%;
  height: auto;
  margin: 0px auto 15px auto;
  padding: 15px 0px;
  justify-content: space-evenly;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f0f3f5;
}

.projet_carte{
  width: 90%;
  height: auto;
  background: #f0f3f5;
  border-radius: 2px;
  margin: 10px 0 15px 0;
  box-shadow: 0px 0px 7px 2px #6C87A1;
}

.logo-js{
  margin-top: 20px;
}

.projet_competence{
  width: 100%;
  padding:  0 10px 15px 10px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.creer_projet_competence{
  margin: 15px auto 15px auto;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.projet_competence_logo{
  width: 64px;
  height: 64px;
  border-radius: 2%;
  box-shadow: 0px 0px 5px 1px #273542;
  margin-top: 15px;
}

.projet_profil_logo{
  transition: .3s ease-in-out;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 2px solid #F0F3F5;
}
.textarea{
  margin-left: -5%;
  min-width: 250px;
  max-width: 250px;
  min-height: 30px;
  max-height: 150px;
}

.projet_profil_logo:hover{
  transition: .3s ease-in-out;
  transform: scale(1.15);
  cursor: pointer;
}

.projet_chef{
  width: 100%;
  height: auto;
  margin:auto;
  display: flex;
  background-color: #273542;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 10px 10px;
}

.projet_operations{
  width: 100%;
  height: auto;
  margin:auto;
  display: flex;
  background-color: #273542;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 10px 50px;
  justify-content: space-evenly;
}

.projet_noms{
  display: flex;
  align-items: center;
  margin-left: 20px;
  justify-content: space-evenly;
  width: 80%;
  color: #F0F3F5;
  font-size: 14px;
  font-weight: bold;
}

h3{
  font-weight: normal;
}

.md_text{
  font-size: 14px;
}

.projet_titre{
  font-weight: bold;
  color: #273542;
  width: 50%;
  margin:  10px auto 5px auto;
  text-align: center;
  background-color: #F0F3F5;
  padding: 12px;
  border-radius: 100px 0px 100px 0px;

}

.projet_description{
  width: 80%;
  margin: 5px auto 10px auto;
  color: #273542;
  line-height: 28px;
  min-height: 100px;
  height: auto;
  overflow: hidden;
  padding: 0 20px;
  text-align: justify;
  font-size: 14px;
}

.projet_tip{
  margin: auto;
  text-align: center;
  color: #273542;
  font-size: 14px;
  background-color: #6C87A1;
  color: #F0F3F5;
  padding: 10px;
}

/* Liste des compétences*/

.liste_competence{
  width: 100%;
  height: auto;
  margin: 15px auto 15px auto;
  padding: 20px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #F0F3F5;
}

.trier{
 margin-bottom: 10px;
}

.competence_carte{
  width: 90%;
  height: auto;
  margin: 0px 0 25px 0;
  background-color: #F0F3F5;
  padding: 10px 3px;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 1px #6C87A1;
}

.competence_image{
  display: flex;
  justify-content: center;
  align-items: center;

}

.competence_logo{
  border-radius: 2%;
  box-shadow: 0px 0px 5px 1px #273542;
}

.competence_infos{
  color: #6C87A1;
  text-align: center;
  padding: 20px;
  line-height: 22px;
  font-size: 15px;

}

.competence_bouton{
  padding: 12px 8px;
  color: #F0F3F5;
  background-color: #6C87A1;
  border: none;
  box-shadow: 0px 0px 5px 1px #6C87A1;
  border-radius: 2%;
}

.competence_bouton:hover{
  transition: .3s;
  cursor: pointer;
}

.competence_recherche{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Rechercher une competence*/

.liste_profil{
  width: 100%;
  height: auto;
  margin: 0px auto 50px auto;
  justify-content: space-evenly;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #273542;
  padding: 0 5%;
}

.profil_carte{
  width: 300px;
  height: 450px;
  background-color: #f0f3f5;
  border-radius: 20px;
}

.profil_image{
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#profil_image{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #F0F3F5;
}


.profil_noms{
  height: 50px;
  color: #283643;
  text-align: center;
  font-size: 12px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.profil_competence{
  margin: auto;
  width: 80%;
  height: 50px;
  background-color: #273542;
  color: #F0F3F5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border-radius: 12%;
}